@import "tailwindcss";

@utility bg-board {
  @apply bg-zinc-900;
}

@utility bg-input {
  @apply bg-zinc-800/50;
}

body {
  @apply bg-zinc-950 text-zinc-100;
  -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

input,
textarea,
button {
  outline: none;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
  transition-property: color, background-color, border-color, opacity;
  transition-duration: 150ms;
}
